.link-display-site {
    border: white solid 2px;
    height: 24px;
    padding: 15px 20px;
    margin: 20px 10px;
    display: flex;
}

.link-display-site-text {
    color: white;
    font-family: 'Karla', 'Karla', sans-serif;
    font-weight: 700;
    font-size: 24px;
    margin: auto;
}

.link-display-site:hover {
    cursor: pointer;
    background-color: white;
}


.link-display-site:hover:hover .link-display-site-text {
    color: #3a4eff;
}

.display-link-holder {
    text-decoration: none;
}