.link-display-panel {
    height: 80%;
    width: 70%;
    margin: auto auto;
    border: 20px solid black;
    border-radius: 50px;
    background-color: #76f3fa;
    background: linear-gradient(0deg,#76f3fa,#3a4eff);
    transform: scale(0.695671) translate3d(0px, 0px, 0px);
}

.link-display-id-holder {
    display: flex;
}

.link-display-page {
        height: 100%;
        width: 100%;
        margin: auto auto;
        background-color: #76f3fa;
        background: linear-gradient(0deg,#76f3fa,#3a4eff); 
}

.link-display-page-content {
    width: 50%;
    margin: auto;
}