.register-div-button:hover {
    cursor: pointer;
}

.register-div-button {
    height: 64px;
    padding: 0px 32px;
    border-radius: 10px;
    border: none;
    color: rgb(255, 255, 255);
    background: rgb(117, 81, 233);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
}

.nav-link:focus {
    outline: none;
}
