.link-holder {
    width: 50%;
    margin: auto;
    height: 100px;
    background: white;
    border-radius: 5px;
    margin-bottom: 16px;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
}

.card-move-wrapper {
    width: 5%;
    height: 100%;
    border-right: 1px solid #d7dce1;
}

.card-content-wrapper {
    width: 95%;
    padding: 10px;
    display: flex;
}


@media only screen and (max-width: 770px) {
    .link-holder {
        width: 90%;
    }
  }