.register-user-page {
    width: 100%;
    height: 100%;
    background-color: #f5f6f8;
}

.regiser-user-content {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
    padding: 50px;
}

.sign-up-header {
    font-weight: 600;
    letter-spacing: 0.5px;
}

.register-block {
    background-color: white;
    margin: 20px 0px;
    width: 50%;
    height: 50%;
    padding: 20px 0px;
}

.register-button-holder {
    width: 100%;
    display: flex;
    padding: 20px 0px;
    justify-content: space-around;
}

.register-button {
    background: rgb(117, 81, 233);
    color: white;
    height: 30px;
    width: 80%;
    border-radius: 5px;
    border: none;
    font-weight: bold;
}

.register-button:hover {
    cursor: pointer;
}

.register-button:disabled {
    background-color: gray;
}

.login-holder {
    margin: auto;
    width: 50%;
}

